* {
    border: 0;
    margin: 0;
    padding: 0;
}

#game_container {
    display: flex;
}

.player_container {
    display: flex;
    min-width: 500px;
}

.gameboard_grid {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    gap: 2px;
}

.gridRow {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2px;
}

.gridCell {
    flex-grow: 1;
    border: 2px solid grey;
    aspect-ratio: 1/1;
}

.hit {
    border-color: red;
    background-color: red;
}

.miss {
    border-color: blue;
    background-color: blue;
}