* {
    border: 0;
    margin: 0;
    padding: 0;
}

.player_container {
    height: 500px;
    width: 500px;
}

.gridRow {
    display: inline-grid;
    grid-template-columns: (10, 1fr);
}

.gridCell {
    height: 50px;
    width: 50px;
    border: 2px solid grey;
}

.hit {
    border-color: red;
    background-color: red;
}

.miss {
    border-color: blue;
    background-color: blue;
}